body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.error-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

.game-container {
    border: 2px solid #007BFF;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    margin: 10px 0;
}

img {
    max-width: 100%;
    margin: 20px 0;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.option-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #0056b3;
}
